/* .div1{
    position: absolute;
  z-index: 1;
  top: 30px;
  left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7ee6e6;
    margin: 10% auto 15% auto;
    border: 1px solid black;
    width: 40%;
    text-align: center;
} */
.signin-heading {
  color: white;
}
.containers {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.sign-in-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 12px 0px rgb(255, 255, 255);
  padding: 30px 50px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.separtor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
  color: rgb(255, 255, 255);
}
.separtor::after, .separtor::before {
flex: 1;
content: "";
border-bottom: 1px solid rgb(14, 12, 12);
border-color: rgb(255, 255, 255);
margin: 0 5px;
}

.social-media-icons {
display: flex;
justify-content: center;
}

.social-media-icons a {
border: 2px solid rgb(231, 216, 216);
border-radius: 50%;
padding: 5px 5px;
margin: 0 5px;
color: rgb(228, 199, 199);
height: 35px;
width: 35px;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.3rem;
transition: all 0.3s;
}

.social-media-icons a:hover {
border-color: rgb(60, 116, 207);
transform: scale(1.2, 1.2);
background-color: rgb(81, 122, 235);
color: rgb(88, 86, 228);
}